.movie {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    background-color: #FDFDFD;
    position: relative;
    width: 100%;
    min-height: 281px;
}

.movie__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 14px 0 9px 14px;
    margin: 0;
    max-width: 78%;
}

.movie__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
    padding: 0 0 14px 14px;
}

.movie__save-button {
    width: 30px;
    height: 30px;
    background-image: url(../../images/save-inactive.svg);
    border: 0;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 14px;
}

.movie__save-button_active {
    width: 30px;
    height: 30px;
    background-image: url(../../images/save-active.svg);
    border: 0;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 14px;
}

.movie__delete-button {
    width: 30px;
    height: 30px;
    background-image: url(../../images/delete.svg);
    border: 0;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 14px;
}

.movie__image {
    object-fit: cover;
    width: 100%;
    height: 203px;
}

